.Incident {
  border: 2px solid color('dark-grey');
  padding: 1rem;

  &__link {
    font-size: 1.5rem;
  }
}

#Incident__embed-wrapper {
 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
